<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置环境 -->
    <!--<environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf-8&amp;zeroDateTimeBehavior=convertToNull"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>

    &lt;!&ndash; 引入映射配置文件 &ndash;&gt;
    <mappers>
        &lt;!&ndash; 方式1：映射文件 &ndash;&gt;
&lt;!&ndash;        <mapper resource="mappers/UserDao.xml"/>&ndash;&gt;
        &lt;!&ndash; 方式2：映射类 &ndash;&gt;
        <mapper class="com.zhangkaigang.dao.UserDao"/>
        &lt;!&ndash; 方式3：映射包 &ndash;&gt;
&lt;!&ndash;        <package name="com.zhangkaigang.dao"/>&ndash;&gt;
    </mappers>-->
</configuration>